# Files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.R


# Extensions to ignore - toggle on and off as required
.png
*.jpg
*.jpeg
# *.eps
# *.pdf
# *.bmp
# *.svg
# *.tiff
*.Rproj

# Folders to ignore
archive/
output/

# Keywords to ignore
*archive